In [1]:
import pandas as pd
import pickle

In [2]:
FOLDER = '../../data_kaggle/champs/'
OUTPUT = FOLDER + 'out/'

In [3]:
temp_pickle = '20190721_features_{}.pickle'
temp_pickle_val = '20190721_features_val_{}.pickle'
temp_pickle_sub = '20190721_features_sub_{}.pickle'

second_train = "20190721_second_train.pickle"
second_val = "20190721_second_val.pickle"
second_test = "20190721_second_test.pickle"

In [4]:
df_train = pd.read_csv(FOLDER+'train.csv')
df_test = pd.read_csv(FOLDER+'test.csv')

In [5]:
df_second_train_list = []
df_second_val_list = []
df_second_test_list = []

for i in range(8):
    df_second_train_list.append(pd.read_pickle(OUTPUT + temp_pickle.format(i)))
    df_second_val_list.append(pd.read_pickle(OUTPUT + temp_pickle_val.format(i)))
    df_second_test_list.append(pd.read_pickle(OUTPUT + temp_pickle_sub.format(i)))
    
df_second_train = pd.concat(df_second_train_list, axis=0)
df_second_val = pd.concat(df_second_val_list, axis=0)
df_second_test = pd.concat(df_second_test_list, axis=0)

In [6]:
df_second_train_merge = pd.merge(df_train, df_second_train, on=['id'], how='inner')
df_second_val_merge = pd.merge(df_train, df_second_val, on=['id'], how='inner')
df_second_test_merge = pd.merge(df_test, df_second_test, on=['id'], how='inner')

In [7]:
df_second_train_merge.to_pickle(OUTPUT + second_train)
df_second_val_merge.to_pickle(OUTPUT + second_val)
df_second_test_merge.to_pickle(OUTPUT + second_test)

In [8]:
df_second_train_merge.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,0,1,2,3,...,88,89,90,91,92,93,94,95,96,97
0,23,dsgdb9nsd_000007,2,5,3JHH,3.25281,3.248468,0.393184,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24,dsgdb9nsd_000007,2,6,3JHH,13.69130,13.689885,0.323008,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,25,dsgdb9nsd_000007,2,7,3JHH,3.25205,3.248468,0.393179,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,29,dsgdb9nsd_000007,3,5,3JHH,13.69240,13.689885,0.323008,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30,dsgdb9nsd_000007,3,6,3JHH,3.25253,3.248468,0.393183,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_second_val_merge.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,0,1,2,3,...,88,89,90,91,92,93,94,95,96,97
0,425,dsgdb9nsd_000034,4,5,3JHH,1.62757,1.582803,0.427289,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,426,dsgdb9nsd_000034,4,6,3JHH,1.64894,1.605786,0.427426,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,521,dsgdb9nsd_000040,4,7,3JHH,3.23247,3.244976,0.397750,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,522,dsgdb9nsd_000040,4,8,3JHH,3.23272,3.247148,0.397749,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,527,dsgdb9nsd_000040,5,7,3JHH,3.31940,3.215096,0.394315,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_second_test_merge.head()

,id,molecule_name,atom_index_0,atom_index_1,type,0,1,2,3,4,...,88,89,90,91,92,93,94,95,96,97
0,4658147,dsgdb9nsd_000004,2,0,2JHC,17.965293,0.442247,197.03869,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4658148,dsgdb9nsd_000004,2,1,1JHC,197.038690,0.941532,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4658149,dsgdb9nsd_000004,2,3,3JHH,12.069346,0.300908,197.03869,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4658150,dsgdb9nsd_000004,3,0,1JHC,197.038690,0.941532,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4658151,dsgdb9nsd_000004,3,1,2JHC,17.965293,0.442247,197.03869,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0